<div class="container"  >
    <div class="row justify-content-end align-items-end " >
        <div class="col-12 p-0 " >
            <img src="~/images/Iran2.png" class=" position-absolute   end-0 top-0 " style="z-index: -1; height: 50%;" />
        </div>
    </div>
    <div class="col-10">
        <div class="col-10 p-4 rounded-4" style="background: rgba(0, 0, 0, 0.2);">
            <h2>
                Iran's unique ecosystem and environment have been impacted by mismanagement and deliberate destruction, leading to their neglect and decay. Iran possesses a rich and ancient natural heritage, but due to poor management, tourism and visitor numbers have been declining.

                In response,  Ecouz, in its second step, aims to provide a platform and infrastructure to develop tourism across Iran's unparalleled ecosystem. Our goal with this platform is to showcase the beauty of this ecosystem to the world and facilitate tourism in Iran.
            </h2>
        </div>
        <div class="col-2">
            <a class="btn neon-button-success m-4" asp-action="Index" asp-controller="Home">Lets Go</a>
        </div>
    </div>
    </div>
    
</div>