<div class="container">
    <div class="row justify-content-end align-items-end">
        <div class="col-12 p-0">
            <img id="animated-image" src="~/images/Iran2.png" class="position-absolute end-0 top-0" style="z-index: -1; height: 50%; opacity: 0; transform: translateY(-20px); transition: all 1s ease-in-out;" />
        </div>
    </div>
    <div class="col-10">
        <div class="col-10 p-4 rounded-4" style="background: rgba(0, 0, 0, 0.2);">
            <h2 id="typed-text"></h2>
        </div>
        <div class="col-2">
            <a id="start-button" class="btn neon-button-success m-4" asp-action="Index" asp-controller="Home" style="opacity: 0; transition: opacity 1s;">Let's Start</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const text = `Iran's unique ecosystem and environment have been impacted by mismanagement and deliberate destruction, leading to their neglect and decay. Iran possesses a rich and ancient natural heritage, but due to poor management, tourism and visitor numbers have been declining.

        In response, Ecouz, in its second step, aims to provide a platform and infrastructure to develop tourism across Iran's unparalleled ecosystem. Our goal with this platform is to showcase the beauty of this ecosystem to the world and facilitate tourism in Iran.`;

        const typedText = document.getElementById("typed-text");
        const startButton = document.getElementById("start-button");
        const animatedImage = document.getElementById("animated-image");
        let index = 0;

        function type() {
            if (index < text.length) {
                typedText.innerHTML += text.charAt(index);
                index++;
                setTimeout(type, 50);
            } else {
                startButton.style.opacity = 1; // Show the button after typing finishes
            }
        }

        function showImage() {
            animatedImage.style.opacity = 1;
            animatedImage.style.transform = "translateY(0)"; // Animate the image to its original position
        }

        showImage(); // Start image animation
        type(); // Start typing animation
    });

</script>