<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcouzTourism</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcouzTourism.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .neon-text {
            color: #fff;
            text-shadow: 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 8px #fff;
        }

        .neon-text-success {
            color: #003300;
            text-shadow: 0 0 0.5px #66ff33, 0 0 0.5px #66ff33, 0 0 0.5px #66ff33, 0 0 15px #66ff33;
        }

        .neon-text-danger {
            color: #cc415f;
            text-shadow: 0 0 0.5px #cc415f, 0 0 0.5px #cc415f, 0 0 0.5px #cc415f, 0 0 8px #cc415f;
        }

        .neon-button {
            color: #fff;
            border: 1px solid #fff;
            box-shadow: 0 0 2px #fff, 0 0 4px #fff,0 0 6px #fff, 0 0 8px #fff;
        }

        .neon-button-success {
            color: #0e9c21;
            border: 0.2px solid #0e9c21;
            box-shadow: 0 0 2px #0e9c21, 0 0 4px #0e9c21, 0 0 6px #0e9c21, 0 0 8px #0e9c21;
        }

        .neon-button-info {
            color: #009AFF;
            border: 1px solid #009AFF;
            box-shadow: 0 0 2px #009AFF, 0 0 4px #009AFF, 0 0 6px #009AFF, 0 0 8px #009AFF;
        }

        .neon-button-danger {
            color: #cc415f;
            border: 1px solid #cc415f;
            box-shadow: 0 0 2px #cc415f, 0 0 4px #cc415f, 0 0 6px #cc415f, 0 0 8px #cc415f;
        }


        .neon-card {
            background-color:;
            box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff;
            border-color: #fff;
        }

        .dropdown-item {
            position: relative;
            overflow: hidden;
        }

            .dropdown-item::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #cc415f;
                transition: width 0.3s ease-in-out;
            }

            .dropdown-item:hover::after {
                width: 100%;
            }

    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 neon-text">
            <div class="container-fluid">
                <a style="width:50px;height:50px; filter: invert(1) brightness(2);" class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/uzlogo.svg" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle neon-text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Management
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Villa" asp-action="Index">Villa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="VillaNumber" asp-action="Index">VillaNumber</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Amenity" asp-action="Index">Amenity</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <h5 class="neon-text">
                &copy; 2024 - Made with <i style=" color:#EF2360 ;
            text-shadow: 0 0 0.5px red, 0 0 0.5px red, 0 0 0.5px red, 0 0 8px red;" class="bi bi-heart-fill "></i> By            <img style="width:50px;height:50px; filter: invert(1) brightness(2);" src="/images/uzlogo.svg" alt="Logo" />
            </h5>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
